# Module#1 Assignment (Python Syntax, Data Types, and Control Lists)

> ## Submitted by : Muhammad Bilal Jamil (mjamil@mail.yu.edu)
> ## Submitted to : Prof. Topor

In [33]:
# Importing car sample dataset via upload from files:
# Importing pandas for reading the file
import pandas as pd
df = pd.read_csv('cars-sample35.txt')
print(df)

     high high.1      2     4    med   low  unacc
0    high   high      4  more  small  high    acc
1    high   high      4  more    big   low  unacc
2    high    low      2  more    big  high    acc
3   vhigh    low      3     2    med   med  unacc
4     low   high      2     2  small   low  unacc
5     med    med      4  more    med  high  vgood
6     low    low      3     2    big   med  unacc
7   vhigh    low      2     2  small   low  unacc
8   vhigh   high      4     4    med   low  unacc
9     low    low      2     2    med   med  unacc
10  vhigh    low      4  more  small  high    acc
11   high    low      2     4    big   med    acc
12    low  vhigh      3  more    big   low  unacc
13   high    low  5more     2    big   med  unacc
14  vhigh   high      2  more    med  high  unacc
15    med    med      2     2  small   low  unacc
16   high    low  5more     4    med  high    acc
17    low    low      3  more    med  high  vgood
18    low    low      2     2    big   med  unacc
19    med   high      4     2    big  high  unacc
20    low    low      2     2  small  high  unacc
21  vhigh   high  5more     4    med   med  unacc
22    med  vhigh      2     2    big   low  unacc
23    low  vhigh      4     4    big   low  unacc
24  vhigh    low      3  more    big   low  unacc
25    med  vhigh      3     4  small   low  unacc
26   high   high      3     4    med   med  unacc
27    low   high  5more     2    big   low  unacc
28    med   high  5more     2    med   med  unacc
29   high    low      3     4    med  high    acc
30   high  vhigh  5more     4    med   med  unacc
31    low    low  5more     2    med   low  unacc
32  vhigh  vhigh      4     2    big  high  unacc
33   high    low      3     2    big  high  unacc

In [34]:
len(df)

34

###### Q1) 
Your first task is to read the file again and extract these seven attributes from each line of the file and create seven distinct Python list objects comprised solely of the values you extracted for a given attribute. In other words, you should have lists of prices, maintenance costs, number of doors, etc. For example, the first five "luggage" values should be as follows:['med', 'small', 'big', 'big', 'med'] One way to complete this task would be to use the code snippet from above as a starting point: you could replace the “print(row)” statement with whatever Python code you feel is necessary to create the seven required list objects.

###### Answer:

In [36]:
# We would be creating 7 columns for every attribute from the csv:-

# Creating 1st column of price:
price = list(df.iloc[:,0])
print(price)

['high', 'high', 'high', 'vhigh', 'low', 'med', 'low', 'vhigh', 'vhigh', 'low', 'vhigh', 'high', 'low', 'high', 'vhigh', 'med', 'high', 'low', 'low', 'med', 'low', 'vhigh', 'med', 'low', 'vhigh', 'med', 'high', 'low', 'med', 'high', 'high', 'low', 'vhigh', 'high']

In [37]:
# Creating 2nd column of maintenance_cost:
maintenance_cost = list(df.iloc[:,1])
print(maintenance_cost)

['high', 'high', 'low', 'low', 'high', 'med', 'low', 'low', 'high', 'low', 'low', 'low', 'vhigh', 'low', 'high', 'med', 'low', 'low', 'low', 'high', 'low', 'high', 'vhigh', 'vhigh', 'low', 'vhigh', 'high', 'high', 'high', 'low', 'vhigh', 'low', 'vhigh', 'low']

In [160]:
# Creating 3rd column of number_of_doors:
number_of_doors = list(df.iloc[:,2])
print(number_of_doors)

['4', '4', '2', '3', '2', '4', '3', '2', '4', '2', '4', '2', '3', '5more', '2', '2', '5more', '3', '2', '4', '2', '5more', '2', '4', '3', '3', '3', '5more', '5more', '3', '5more', '5more', '4', '3']

In [40]:
# Creating 4th column of number_of_passengers:
number_of_passengers = list(df.iloc[:,3])
print(number_of_passengers)

['more', 'more', 'more', '2', '2', 'more', '2', '2', '4', '2', 'more', '4', 'more', '2', 'more', '2', '4', 'more', '2', '2', '2', '4', '2', '4', 'more', '4', '4', '2', '2', '4', '4', '2', '2', '2']

In [41]:
# Creating 5th column of luggage_capacity:
luggage_capacity = list(df.iloc[:,4])
print(luggage_capacity)

['small', 'big', 'big', 'med', 'small', 'med', 'big', 'small', 'med', 'med', 'small', 'big', 'big', 'big', 'med', 'small', 'med', 'med', 'big', 'big', 'small', 'med', 'big', 'big', 'big', 'small', 'med', 'big', 'med', 'med', 'med', 'med', 'big', 'big']

In [42]:
# Creating 6th column of safety_rating:
safety_rating = list(df.iloc[:,5])
print(safety_rating)

['high', 'low', 'high', 'med', 'low', 'high', 'med', 'low', 'low', 'med', 'high', 'med', 'low', 'med', 'high', 'low', 'high', 'high', 'med', 'high', 'high', 'med', 'low', 'low', 'low', 'low', 'med', 'low', 'med', 'high', 'med', 'low', 'high', 'high']

In [43]:
# Creating 7th of classification_of_vehicle:
classification_of_vehicle = list(df.iloc[:,6])
print(classification_of_vehicle)

['acc', 'unacc', 'acc', 'unacc', 'unacc', 'vgood', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'vgood', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc']

###### Q2) 
Your second task is to find the list index values of each automobile having a “price” rating of "med". Create a new list object with your result. HINT: you can accomplish this task by searching the list of price values you created earlier. Be sure to print your results.

###### Answer:

In [98]:
# Now using for loop and if statement to calculate the indexes from the "price" column with a rating of "med":
[i for i in range(len(price)) if price[i] == 'med']

[5, 15, 19, 22, 25, 28]

In [63]:
#verifying if these indexes are actually which are represented above:
price_df = (df.iloc[:,0])
print(price_df)

0      high
1      high
2      high
3     vhigh
4       low
5       med
6       low
7     vhigh
8     vhigh
9       low
10    vhigh
11     high
12      low
13     high
14    vhigh
15      med
16     high
17      low
18      low
19      med
20      low
21    vhigh
22      med
23      low
24    vhigh
25      med
26     high
27      low
28      med
29     high
30     high
31      low
32    vhigh
33     high
Name: high, dtype: object

In [ ]:
# Hence verified that 5, 15, 19, 22, 25, 28 are "Med".

###### Q3) 
Your third task is to find the "number of passengers" value for each auto having a "price" value of "med". Create a new list to store your findings and be sure to print your results.

###### Answer:

In [99]:
#for this question as suggested in the book I will use the concepts of zip and for loops:
list1 = [[i,j] for i,j in zip(number_of_passengers, price) if j=="med"]
print('The values of passengers where price is med are:', list1)

The values of passengers where price is med are: [['more', 'med'], ['2', 'med'], ['2', 'med'], ['2', 'med'], ['4', 'med'], ['2', 'med']]

###### Q4)
Your fourth task is to find the index value for each automobile having a “price” value of "high" and a “maintenance” value that is not "low". Create a new list to store your findings and be sure to print your results.

###### Answer:

In [119]:
#Creating two lists "high_price" and "final_index" where I will first find the vehicle where price = 'High'  
# Then in last step filter the "maintenance_cost" column w.r.t the findings in the first step:

high_price = [i for i in range(len(price)) if price[i] == 'high']
final_index = [j for j in high_price if maintenance_cost[j] != 'low']

In [120]:
print(final_index)

[0, 1, 26, 30]

###### Q5)
Your fifth task is to find the index value for each auto having 2 doors and a luggage value of "big". Create a new list to store your findings and be sure to print your results.

###### Answer:

In [123]:
# Just as in previous question I will again create two lists, first where I will filter the "doors" column
# Then after that, I will filter the findings where the luggage value is "big":

doors_cal = [q for q in range(len(number_of_doors)) if number_of_doors[q]=='2']
print(doors_cal)

[2, 4, 7, 9, 11, 14, 15, 18, 20, 22]

In [125]:
# This calculation is based on the findings where luggage is "big" and price is "high", we will use the previous results:
final_cal = [w for w in doors_cal if luggage_capacity[w]=='big']
print(final_cal)

[2, 11, 18, 22]

###### Q6)
Finally, create a new list containing the only the integer equivalents of the doors values. Keep in mind that the lists you have created thus far are composed solely of strings. If you find any values of '5more' in your list, convert them to a '5'. After converting the '5more' values to '5', convert all of the items in your list to their numeric equivalent and calculate the average number of doors across all 35 autos using whichever of Python's built in functions you require. Print your result.

#### Answer:

In [168]:
#For this question I made a new list called "new_numlist", I incorporated all the data from the "number_of_doors" column.
# I ran a for loop to check for '5more' and then convert it into '5' sting.

#I will be cloning the list so that the original 'number_of_doors' is uneffected by any moderations.
new_numlist= number_of_doors[:]
for r in range(len(number_of_doors)):
    if new_numlist[r]=='5more':
        new_numlist[r] = '5'
print('The original list is:',new_numlist)

The original list is: ['4', '4', '2', '3', '2', '4', '3', '2', '4', '2', '4', '2', '3', '5', '2', '2', '5', '3', '2', '4', '2', '5', '2', '4', '3', '3', '3', '5', '5', '3', '5', '5', '4', '3']

In [172]:
#Now I have accomplished converting this, I will now use the Naive method to convert all the string values from the 
# 'new_numlist' list to integers.

# Now converting to integers:
for e in range(0, len(new_numlist)):
    new_numlist[e] = int(new_numlist[e])
    
#printing modified list:
print('Modified List is:', new_numlist)

Modified List is: [4, 4, 2, 3, 2, 4, 3, 2, 4, 2, 4, 2, 3, 5, 2, 2, 5, 3, 2, 4, 2, 5, 2, 4, 3, 3, 3, 5, 5, 3, 5, 5, 4, 3]

In [175]:
#Now finding the average:-
avg_doors = sum(new_numlist)/len(new_numlist)
print('The average number of doors across 35 autos is', avg_doors)

The average number of doors across 35 autos is 3.3529411764705883

## Citations:

https://www.dataquest.io/blog/jupyter-notebook-tutorial/
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iloc.html
https://stackoverflow.com/questions/7270321/finding-the-index-of-elements-based-on-a-condition-using-python-list-comprehensi
https://stackoverflow.com/questions/55061846/how-to-zip-items-in-2-lists-only-when-a-condition-is-met-python
https://stackoverflow.com/questions/1228299/changing-one-character-in-a-string
https://www.saltycrane.com/blog/2008/08/how-conditionally-replace-items-list/
https://geeksforgeeks.org/python-converting-all-strings-in-list-to-integers/
https://www.techiedelight.com/conditionally-replace-values-list-python/
https://www.geeksforgeeks.org/python-string-replace/
https://openbookproject.net/thinkcs/python/english3e/lists.html
https://careerkarma.com/blog/python-average/#:~:text=There%20are%20two%20ways%20to,the%20Python%20mean()%20function.