# Project:1 (Exploratory Data Analysis Using Matplotlib & Seaborn)

### Submitted by :

* Yuxiao Shen (yshen3@mail.yu.edu)
* Muhammad Bilal Jamil (mjamil@mail.yu.edu)

### Submitted to : Prof. Topor

### Index:

#### 1. Initial Data Analysis:
#### 2. Introduction
#### 3. Data Preparation
#### 4. Preliminary Data Analysis
#### 5. Research Results
#### 6. Conclusion

In [26]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
covid_dataset = 'https://raw.githubusercontent.com/mbjamil92/DAV-5400/main/datasets/data.csv'
cd = pd.read_csv(covid_dataset)

In [11]:
cd.continentExp.unique()

array(['Asia', 'Europe', 'Africa', 'America', 'Oceania', 'Other'],
      dtype=object)

In [20]:
cd.countriesAndTerritories[(cd['continentExp'] == 'Oceania')].unique()

array(['Australia', 'Fiji', 'French_Polynesia', 'Guam',
       'Marshall_Islands', 'New_Caledonia', 'New_Zealand',
       'Northern_Mariana_Islands', 'Papua_New_Guinea', 'Solomon_Islands',
       'Vanuatu', 'Wallis_and_Futuna'], dtype=object)

In [29]:
sns.pairplot(small_cont)

TypeError: 'data' must be pandas DataFrame object, not: <class 'numpy.ndarray'>

In [30]:
cd.countriesAndTerritories[(cd['popData2019'] <= 100000)].unique()

array(['Andorra', 'Anguilla', 'Antigua_and_Barbuda', 'Bermuda',
       'Bonaire, Saint Eustatius and Saba', 'British_Virgin_Islands',
       'Cayman_Islands', 'Dominica', 'Falkland_Islands_(Malvinas)',
       'Faroe_Islands', 'Gibraltar', 'Greenland', 'Guernsey', 'Holy_See',
       'Isle_of_Man', 'Liechtenstein', 'Marshall_Islands', 'Monaco',
       'Montserrat', 'Northern_Mariana_Islands', 'Saint_Kitts_and_Nevis',
       'San_Marino', 'Seychelles', 'Sint_Maarten',
       'Turks_and_Caicos_islands'], dtype=object)

In [22]:
cd.countriesAndTerritories[(cd['continentExp'] == 'Asia')].unique()

array(['Afghanistan', 'Bahrain', 'Bangladesh', 'Bhutan',
       'Brunei_Darussalam', 'Cambodia', 'China', 'India', 'Indonesia',
       'Iran', 'Iraq', 'Israel', 'Japan', 'Jordan', 'Kazakhstan',
       'Kuwait', 'Kyrgyzstan', 'Laos', 'Lebanon', 'Malaysia', 'Maldives',
       'Mongolia', 'Myanmar', 'Nepal', 'Oman', 'Pakistan', 'Palestine',
       'Philippines', 'Qatar', 'Saudi_Arabia', 'Singapore', 'South_Korea',
       'Sri_Lanka', 'Syria', 'Taiwan', 'Tajikistan', 'Thailand',
       'Timor_Leste', 'United_Arab_Emirates', 'Uzbekistan', 'Vietnam',
       'Yemen'], dtype=object)

In [ ]:
## Introduction:

''' q1 do a trend of deaths with cases in months of  Jan, Feb, March. 2020 in China and Pakistan and USA 
    q2 do covid cummaltive analysis in China and Pakistan and USA'''

In [2]:
cd.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,14/12/2020,14,12,2020,746,6,Afghanistan,AF,AFG,38041757.0,Asia,9.013779
1,13/12/2020,13,12,2020,298,9,Afghanistan,AF,AFG,38041757.0,Asia,7.052776
2,12/12/2020,12,12,2020,113,11,Afghanistan,AF,AFG,38041757.0,Asia,6.868768
3,11/12/2020,11,12,2020,63,10,Afghanistan,AF,AFG,38041757.0,Asia,7.134266
4,10/12/2020,10,12,2020,202,16,Afghanistan,AF,AFG,38041757.0,Asia,6.968658

In [8]:
cd.dateRep.unique()

array(['14/12/2020', '13/12/2020', '12/12/2020', '11/12/2020',
       '10/12/2020', '09/12/2020', '08/12/2020', '07/12/2020',
       '06/12/2020', '05/12/2020', '04/12/2020', '03/12/2020',
       '02/12/2020', '01/12/2020', '30/11/2020', '29/11/2020',
       '28/11/2020', '27/11/2020', '26/11/2020', '25/11/2020',
       '24/11/2020', '23/11/2020', '22/11/2020', '21/11/2020',
       '20/11/2020', '19/11/2020', '18/11/2020', '17/11/2020',
       '16/11/2020', '15/11/2020', '14/11/2020', '13/11/2020',
       '12/11/2020', '11/11/2020', '10/11/2020', '09/11/2020',
       '08/11/2020', '07/11/2020', '06/11/2020', '05/11/2020',
       '04/11/2020', '03/11/2020', '02/11/2020', '01/11/2020',
       '31/10/2020', '30/10/2020', '29/10/2020', '28/10/2020',
       '27/10/2020', '26/10/2020', '25/10/2020', '24/10/2020',
       '23/10/2020', '22/10/2020', '21/10/2020', '20/10/2020',
       '19/10/2020', '18/10/2020', '17/10/2020', '16/10/2020',
       '15/10/2020', '14/10/2020', '13/10/2020', '12/10/2020',
       '11/10/2020', '10/10/2020', '09/10/2020', '08/10/2020',
       '07/10/2020', '06/10/2020', '05/10/2020', '04/10/2020',
       '03/10/2020', '02/10/2020', '01/10/2020', '30/09/2020',
       '29/09/2020', '28/09/2020', '27/09/2020', '26/09/2020',
       '25/09/2020', '24/09/2020', '23/09/2020', '22/09/2020',
       '21/09/2020', '20/09/2020', '19/09/2020', '18/09/2020',
       '17/09/2020', '16/09/2020', '15/09/2020', '14/09/2020',
       '13/09/2020', '12/09/2020', '11/09/2020', '10/09/2020',
       '09/09/2020', '08/09/2020', '07/09/2020', '06/09/2020',
       '05/09/2020', '04/09/2020', '03/09/2020', '02/09/2020',
       '01/09/2020', '31/08/2020', '30/08/2020', '29/08/2020',
       '28/08/2020', '27/08/2020', '26/08/2020', '25/08/2020',
       '24/08/2020', '23/08/2020', '22/08/2020', '21/08/2020',
       '20/08/2020', '19/08/2020', '18/08/2020', '17/08/2020',
       '16/08/2020', '15/08/2020', '14/08/2020', '13/08/2020',
       '12/08/2020', '11/08/2020', '10/08/2020', '09/08/2020',
       '08/08/2020', '07/08/2020', '06/08/2020', '05/08/2020',
       '04/08/2020', '03/08/2020', '02/08/2020', '01/08/2020',
       '31/07/2020', '30/07/2020', '29/07/2020', '28/07/2020',
       '27/07/2020', '26/07/2020', '25/07/2020', '24/07/2020',
       '23/07/2020', '22/07/2020', '21/07/2020', '20/07/2020',
       '19/07/2020', '18/07/2020', '17/07/2020', '16/07/2020',
       '15/07/2020', '14/07/2020', '13/07/2020', '12/07/2020',
       '11/07/2020', '10/07/2020', '09/07/2020', '08/07/2020',
       '07/07/2020', '06/07/2020', '05/07/2020', '04/07/2020',
       '03/07/2020', '02/07/2020', '01/07/2020', '30/06/2020',
       '29/06/2020', '28/06/2020', '27/06/2020', '26/06/2020',
       '25/06/2020', '24/06/2020', '23/06/2020', '22/06/2020',
       '21/06/2020', '20/06/2020', '19/06/2020', '18/06/2020',
       '17/06/2020', '16/06/2020', '15/06/2020', '14/06/2020',
       '13/06/2020', '12/06/2020', '11/06/2020', '10/06/2020',
       '09/06/2020', '08/06/2020', '07/06/2020', '06/06/2020',
       '05/06/2020', '04/06/2020', '03/06/2020', '02/06/2020',
       '01/06/2020', '31/05/2020', '30/05/2020', '29/05/2020',
       '28/05/2020', '27/05/2020', '26/05/2020', '25/05/2020',
       '24/05/2020', '23/05/2020', '22/05/2020', '21/05/2020',
       '20/05/2020', '19/05/2020', '18/05/2020', '17/05/2020',
       '16/05/2020', '15/05/2020', '14/05/2020', '13/05/2020',
       '12/05/2020', '11/05/2020', '10/05/2020', '09/05/2020',
       '08/05/2020', '07/05/2020', '06/05/2020', '05/05/2020',
       '04/05/2020', '03/05/2020', '02/05/2020', '01/05/2020',
       '30/04/2020', '29/04/2020', '28/04/2020', '27/04/2020',
       '26/04/2020', '25/04/2020', '24/04/2020', '23/04/2020',
       '22/04/2020', '21/04/2020', '20/04/2020', '19/04/2020',
       '18/04/2020', '17/04/2020', '16/04/2020', '15/04/2020',
       '14/04/2020', '13/04/2020', '12/04/2020', '11/04/2020',
       '10/04/2020', '09/04/2020', '08/04/2020', '07/04/2020',
       '06/04/2020', '05/04/2020', '04/04/2020', '03/04/2020',
       '02/04/2020', '01/04/2020', '31/03/2020', '30/03/2020',
       '29/03/2020', '28/03/2020', '27/03/2020', '26/03/2020',
       '25/03/2020', '24/03/2020', '23/03/2020', '22/03/2020',
       '21/03/2020', '20/03/2020', '19/03/2020', '18/03/2020',
       '17/03/2020', '16/03/2020', '15/03/2020', '11/03/2020',
       '08/03/2020', '02/03/2020', '01/03/2020', '29/02/2020',
       '28/02/2020', '27/02/2020', '26/02/2020', '25/02/2020',
       '24/02/2020', '23/02/2020', '22/02/2020', '21/02/2020',
       '20/02/2020', '19/02/2020', '18/02/2020', '17/02/2020',
       '16/02/2020', '15/02/2020', '14/02/2020', '13/02/2020',
       '12/02/2020', '11/02/2020', '10/02/2020', '09/02/2020',
       '08/02/2020', '07/02/2020', '06/02/2020', '05/02/2020',
       '04/02/2020', '03/02/2020', '02/02/2020', '01/02/2020',
       '31/01/2020', '30/01/2020', '29/01/2020', '28/01/2020',
       '27/01/2020', '26/01/2020', '25/01/2020', '24/01/2020',
       '23/01/2020', '22/01/2020', '21/01/2020', '20/01/2020',
       '19/01/2020', '18/01/2020', '17/01/2020', '16/01/2020',
       '15/01/2020', '14/01/2020', '13/01/2020', '12/01/2020',
       '11/01/2020', '10/01/2020', '09/01/2020', '08/01/2020',
       '07/01/2020', '06/01/2020', '05/01/2020', '04/01/2020',
       '03/01/2020', '02/01/2020', '01/01/2020', '31/12/2019',
       '14/03/2020', '13/03/2020', '12/03/2020', '10/03/2020',
       '09/03/2020', '06/03/2020', '05/03/2020', '04/03/2020',
       '03/03/2020', '07/03/2020'], dtype=object)

In [9]:
cd.describe()

,day,month,year,cases,deaths,popData2019,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
count,61900.000000,61900.000000,61900.000000,61900.000000,61900.000000,6.177700e+04,59021.000000
mean,15.628934,7.067157,2019.998918,1155.147237,26.055460,4.098770e+07,66.320586
std,8.841582,2.954776,0.032882,6779.224479,131.227055,1.531294e+08,162.329240
min,1.000000,1.000000,2019.000000,-8261.000000,-1918.000000,8.150000e+02,-147.419587
25%,8.000000,5.000000,2020.000000,0.000000,0.000000,1.293120e+06,0.757526
50%,15.000000,7.000000,2020.000000,15.000000,0.000000,7.169456e+06,6.724045
75%,23.000000,10.000000,2020.000000,273.000000,4.000000,2.851583e+07,52.572719
max,31.000000,12.000000,2020.000000,234633.000000,4928.000000,1.433784e+09,1900.836210

In [10]:
cd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61900 entries, 0 to 61899
Data columns (total 12 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   dateRep                                                     61900 non-null  object
 1   day                                                         61900 non-null  int64
 2   month                                                       61900 non-null  int64
 3   year                                                        61900 non-null  int64
 4   cases                                                       61900 non-null  int64
 5   deaths                                                      61900 non-null  int64
 6   countriesAndTerritories                                     61900 non-null  object
 7   geoId                                                       61625 non-null  object
 8   countryterritoryCode                                        61777 non-null  object
 9   popData2019                                                 61777 non-null  float64
 10  continentExp                                                61900 non-null  object
 11  Cumulative_number_for_14_days_of_COVID-19_cases_per_100000  59021 non-null  float64
dtypes: float64(2), int64(5), object(5)
memory usage: 5.7+ MB

In [ ]:
# Research Question: